html,
body {
  height: 100%;
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.ChatWindow {
    flex: .5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(10, 1fr) ;
    grid-template-areas:
    "chat-title chat-title chat-title"
    "msglist msglist msglist"
    "msglist msglist msglist"
    "msglist msglist msglist"
    "msglist msglist msglist"
    "msglist msglist msglist"
    "msglist msglist msglist"
    "msglist msglist msglist"
    "msglist msglist msglist"
    "text-form text-form text-form";
    min-width: 1000px;
    max-width: 1400px;

    width: 100%;
    height: 90vh;
    background-color: rgb(197, 194, 194);

    border-radius: 20px;
    margin-left: 100px;

  }

  .new-message-container {
    border: .0005rem groove;
    border-color: #718093;
    background-color: #111;
    color: white;
    border-left: none;
  }

  .chat-title,.text-form {
    display: grid;

    border: .0005rem groove;
    border-color: #718093;
    color: white;
    background: #111;
    border-left: none;
    border-right: none;

  }

  .chatMessageMe {
    width: 40%;
    border: 1px solid black;
    padding: 10px;
    margin-top: 2.5%;
    margin-bottom: 1.5%;
    margin-right: 3%;
    flex-direction: row;
    color: black;
    font-size: 1.2rem;
    background-color:  #3d99fc;
    justify-content: flex-end;
    justify-items: end;
    white-space:nowrap;
    align-self: flex-end;

    width: fit-content;
    height:fit-content;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

  }

  .chatMessageOther {
    width: 40%;
    border: 1px solid black;
    padding: 10px;
    margin-top: 2.5%;
    margin-bottom: 1.5%;
    margin-left: 3%;
    flex-direction: row;
    color: black;
    font-size: 1.2rem;
    background-color: gray;
    justify-content:start;

    width: fit-content;
    height:fit-content;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  .chat-message-list {
    display: flex;
    grid-area: msglist;
    overflow: scroll;
    list-style-type: none;
    flex-direction: column;
    overflow-x: hidden;
  }

  .chatHistory {
    display: flex;
    grid-area: msglist;
    list-style-type: none;
    flex-direction: column;
  }

  .text-form {
    display: grid;
    grid: 50px / 700px 1fr;
    align-content: center;
    align-items: center;
    justify-content: center;

    grid-gap: 40px;
    grid-area: text-form;

    padding-left: 60px;
    padding-right: 40px;
    border-bottom: none;
    border-radius: 0px 0px 10px 0px;

  }
  .text-input {
    display: block;
    box-sizing: padding-box;
    overflow: hidden;
    resize: none;
    background-color: #c8d6e5;

    padding: 15px 20px 15px 15px;
    line-height: 20px;
    border: 0;
    border-radius: 10px;
    color: #330;
    font-size: 1rem;
  }
  
  .chat-title {
    grid-area: chat-title;
    border-radius: 0 15px 0 0;
    border-top: none;

    padding: 18px;
    text-align: center;
  
    color: white;
    margin-bottom: 30px;
    width: 100%;
    font-size: 2.3em;;
  }



  .refresh{
    width: 50px;
    height: 50px;
  }


  .time{
    color: white;
    justify-content: end;
    font-size: .8rem;
    font-family: inherit;
    float: right;

    position: relative;
  }
