
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
background: linear-gradient(90deg, rgba(47,53,66,1) 26%, rgba(164,176,190,1) 100%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ChatWindow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(10, 1fr) ;
    grid-template-areas:
    "search chat-title chat-title chat-title"
    "convolist . . ."
    "convolist . . ."
    "convolist . . ."
    "convolist . . ."
    "convolist . . ."
    "convolist . . ."
    "convolist . . ."
    "convolist . . ."
    "msgcontainer text-form text-form text-form";
    border-color: black;
    min-width: 1000px;
    max-width: 1400px;
    max-height: 800;
    width: 100%;
    height: 90vh;
    background: #dfe4ea;
    border-radius: 20px;
  }
  

  .conversation-list, .new-message-container, .search-bar {
    background-color: #70a1ff;
  }

  .chat-title,.text-form {
    
    background: linear-gradient(90deg, rgba(255,99,72,1) 27%, rgba(255,127,80,1) 100%);
    
  }

  .text-form {
    grid-area: text-form;
    justify-content: center;
    box-shadow: 1px 1px 3px -1px black;
    border-radius: 0 0 10px 0;
  }

  .chat-title {
    grid-area: chat-title;
    border-radius: 0 10px 0 0;
    box-shadow: 0 1px 3px -1px black;
  }

  .conversation-list {
    grid-area: convolist;
    border-top: black;
    box-shadow:  1px 1px -1px black;
    z-index: 1;
  }

  .new-message-container {
    grid-area: msgcontainer;
    z-index: 2;
    /*border-radius: 0 0 0 10px;*/
  }

  .search-bar
  {
    grid-area: search;
    /*border-radius: 10px 0 0 0;*/
    box-shadow: 0 1px 3px -1px black;
    z-index: 1;
  }
  .chat-message-list {
    grid-area: msglist;
  } 