.ChatSearchWindow {
overflow: hidden;

flex: 0.4;
flex-direction: column;

background: grey;
align-content: flex-start;
margin-left: 100px;


}


.text-input {


  padding-left: 100px;
  padding-right: 10px;
  padding-top:  10px;
  padding-bottom: 10px;
  align-self: flex-start;

}

.searchedList{
  flex-direction: column;
  padding-top: 15px;
  justify-content: center;






}
