.ChatOptions {

    background-color: rgb(61, 60, 60);
    flex: 0.3;
    overflow-y:scroll;

    height: 950px;

  }


.ChatSearch{



  flex: 0.4;
  color: green;

}

.chatList{


  list-style-type: none;
  align-content: center;
  align-items: center;
  text-align: center;



  justify-content: center;
  padding-right: 20px;

}

.chatList .name{

    height: auto;
    width: 100%;
    font-family: "Lato", sans-serif;



}

.chatList .chatItem{
  font-family: "Lato", sans-serif;
  border: 1px solid black;
  padding: 0;
  height: auto;
  width: 100%;
  justify-content: center;



  height: 50px;
  list-style-type: none;
  display: flex;
  margin: 2%;
  flex-direction: row;
  color: rgb(255, 255, 255);
  font-size: 10pt;
  background-color: #ac0909;
  align-content: center;





}

.create{
  font-family: "Lato", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 10pt;
  background-color: #585858;

}


.chatList .chatItem:hover{


 cursor:pointer;
 font-size: 15pt;

}



.chatList .chatItem #clicked{




  font-size: 15pt;



}
