html,
body {
  height: 100%;
}

.ChatWindow {
    flex: .5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(10, 1fr) ;
    grid-template-areas:
    "chat-title chat-title chat-title"
    "msglist msglist msglist"
    "msglist msglist msglist"
    "msglist msglist msglist"
    "msglist msglist msglist"
    "msglist msglist msglist"
    "msglist msglist msglist"
    "msglist msglist msglist"
    "msglist msglist msglist"
    "text-form text-form text-form";
    min-width: 1000px;
    max-width: 1400px;

    width: 100%;
    height: 90vh;
    background-color: rgb(197, 194, 194);

    border-radius: 20px;
    margin-left: 100px;

  }

  .new-message-container {
    border: .0005rem groove;
    border-color: #718093;
    background-color: #111;
    color: white;
    border-left: none;
  }

  .chat-title,.text-form {
    display: grid;

    border: .0005rem groove;
    border-color: #718093;
    color: white;
    background: #111;
    border-left: none;
    border-right: none;

  }

  .chatHistory{
    flex-direction: row;
    justify-content: flex-end;
  }

  .chatMessageMe{
    float:right;
    font-family: "Comic Sans MS";
    border: 1px solid black;
    padding: 0;
    height: auto;
    width: 50%;

    font-family: "Comic Sans MS";
    border: 1px solid black;
    padding: 10px;

    list-style-type: none;

    display:flex;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 1%;
    flex-direction: row;
    color: black;
    font-size: 10pt;
    background-color:  #3d99fc;
    justify-content:flex-start;
    white-space:nowrap;

    height:fit-content;

    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  .chatMessageOther{
    font-family: "Comic Sans MS";
    border: 1px solid black;
    padding: 0;
    height: auto;
    width: 50%;

    font-family: "Comic Sans MS";
    border: 1px solid black;
    padding: 10px;

    list-style-type: none;
    display: flex;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 1%;
    flex-direction: row;
    color: blac k;
    font-size: 10pt;
    background-color: gray;
    justify-content:flex-start;

    width:fit-content;
    height:fit-content;

    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  .text-form {
    display: grid;
    grid: 50px / 700px 1fr;
    align-content: center;
    align-items: center;
    justify-content: center;

    grid-gap: 40px;
    grid-area: text-form;

    padding-left: 60px;
    padding-right: 40px;
    border-bottom: none;
    border-radius: 0px 0px 10px 0px;

  }
  .text-input {
    display: block;
    box-sizing: padding-box;
    overflow: hidden;
    resize: none;
    background-color: #c8d6e5;

    padding: 15px 20px 15px 15px;
    line-height: 20px;
    border: 0;
    border-radius: 10px;
    color: #330;
    font-size: 1rem;
  }
  .send-btn {
  }

  .chat-title {
    grid-area: chat-title;
    border-radius: 0 15px 0 0;
    border-top: none;
  }

  .conversation-list {
    color: white;
    grid-area: convolist;
    border-top: none;
  }

  .chat-message-list {
    grid-area: msglist;
    overflow-y:scroll;
    list-style-type: none;
    justify-content: flex-end;

  }

  .refresh{
    width: 50px;
    height: 50px;
  }


  .time{
   color: white;
   justify-content: flex-start;
   font-size: 8px;
   font-family: inherit;
  }
