.Sidebar {
  border-right: 1px solid #000000;
  background-color: #0b0c10;
  flex: 0.1;
  height: 950px;
}


.column{
  width: 100%;
  height: auto;
  margin: 0%;
 
}

.column .button{
  font-family: "Lato", sans-serif;
 
  height: auto;
  width: 100%;
  justify-content: center;



  height: 50px;
  text-align: center;
  list-style-type: none;
  display: flex;
  margin: 0%;

  flex-direction: row;
  color: rgb(255, 255, 255);
  font-size: 10pt;
  background-color: rgb(17, 17, 17);
  align-content: center;
}


.column .button:hover{
cursor: pointer;
background-color: #111;


}

.column #clicked {

  background-color: #3E2054;

}
