.chatOptions{


  flex-direction: column;
  flex: .2;
  background: red;

}

.listWindow{
    flex-direction: column;
    flex:.20
}
.chatItem{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    border: 1px;

}
.text
{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    border: 1px;

}
